/* DATA FORMATS */

.location {
  letter-spacing: .1rem;
  font-weight: bold;
  font-family: 'montserrat', sans-serif;
  font-size: 1rem;
  line-height: .8;
  /*padding-top: 8px;*/

}
.side {
  font-size: .6rem;
  text-transform: uppercase;
  /*padding-bottom: 3px;*/
  /*padding-top: 3px;*/
  padding-left: 5px;
  padding-top: 5px;
  color: #98C626;
  padding-bottom: 10px;
}
.detail {
  font-family: 'Open Sans', 'sans-serif'!important;
  margin-top: 0px!important;
  line-height: 1.2rem;
  font-weight: 200;
  font-size: .7rem;
  letter-spacing: .07rem;
/*  max-width: 350px;*/
}
.limit {
  border-left: 1px dotted white;
  padding-left: 5px;
}
.rate {
  border-right: 1px dotted white;
  padding-right: 5px;
}