div.map div.map_toolbar {
position: absolute;
top: -6px!important;
left: 0px;
width: 100%;
height: 13px;
}
div.map.derived div.cartodb-map {
  position: absolute;
  top: 7px;
  right: 79px;
  bottom: 15px;
}
div.map, .mobile_bkg {
  padding: 31px 84px 20px 20px!important;
}
div.panes {
  position: absolute;
  top: 78px;
  right: 0;
  bottom: 0;
  left: 0;
}
div.map div.map_toolbar .options {
  position: absolute;
  top: -42px;
}
div.vis_navigation {
  position: absolute;
  width: 300px;
  top: -6px;
}